@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-stars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-stars {
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  animation: animate-stars linear 240s infinite;
  will-change: transform;
}

.bg-radial-5Star {
  background: radial-gradient(
    circle,
    rgb(162, 160, 12) 0%,
    rgba(242, 238, 0, 0) 60%
  );
}

.bg-radial-4Star {
  background: radial-gradient(
    circle,
    rgb(135, 12, 222) 0%,
    rgba(242, 238, 0, 0) 60%
  );
}

.star5 {
  filter: brightness(0) saturate(100%) invert(64%) sepia(42%) saturate(4154%)
    hue-rotate(27deg) brightness(96%) contrast(91%);
}

.star4 {
  filter: brightness(0) saturate(100%) invert(21%) sepia(67%) saturate(7005%)
    hue-rotate(273deg) brightness(83%) contrast(115%);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  overflow: hidden;
  padding: 10px 10px;
  word-break: normal;
}

.tg th {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  overflow: hidden;
  padding: 10px 10px;
  word-break: normal;
}

.tg td:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.tg th:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
